GEMINI_API_KEY=
APP_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
CASHFREE_APP_ID=12821375de78fc2e2c8d6fefc657312821
CASHFREE_SECRET_KEY=
cfsk_ma_prod_b796c278fa2180b98a4bad64d416d12b_223824f9
